.resumeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resumeIcon {
    color: inherit;
    font-size: 150px;
    margin-top: 20%;
}

.resumeIcon:hover {
    color: #008FF5;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}