.resumeText {
    margin-top: 5%;
    text-align: center;
    color: #fff;
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
}

.downloadContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iconContainer {
    margin-top: 10%;
}

.resumeIcon {
    color: #d6d6d6;
    font-size: 150px;
}

.resumeIcon:hover {
    color: #fff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.downloadText {
    font-size: 30px;
    text-align: center;
}