.footer {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.footerIcon {
    color: #d6d6d6;
}

.footerIcon:hover {
    cursor: pointer;
    color: #fff;
}