.galleryPage {
  padding: 0 10%;
}

.galleryHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryGrid {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 10%;
  grid-template-columns: 30% 30% 30%;
}

.galleryItem {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.galleryItemContent {
  position: relative;
  width: 100%;
}

.galleryItemHeader {
  display: flex;
  justify-content:center;
  background-color: #86BBD8;
}

.galleryItemOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #86BBD8;
}

.galleryItemContent:hover .galleryItemOverlay {
  opacity: 1;
}