.header {
  width: 100%;
  background-color: #7eb4a9;
  padding: 0;
}

.navButtons {
  margin: 0 auto;
  width: 75%;
}

.navListWrapper {
  padding: 0 0 0 auto;
  margin: 0;
  list-style-type: none;
}

.navList {
  display: inline;
  text-align: center;
}


.item {
  display: inline-block;
  width: 33%;
  padding: 0.75rem 0;
  margin: 0;
  text-decoration: none;
  color: #000000;
  border: none;
  background-color: #8fbdb3;
  opacity: 0.5;
  &:focus {
    outline: none;
    opacity: 1;
  } 
}

.item:hover {
  opacity: 1;
}

.home:hover ~ hr {
  margin-left: 0%;
  background: #bcdcd5;
}

.gallery:hover ~ hr {
  margin-left: 33%;
  background: #bcdcd5;
}

.cv:hover ~ hr {
  margin-left: 66%;
  background: #bcdcd5;
}

.homeSelect ~ hr {
  margin-left: 0%;
}

.gallerySelect ~ hr {
  margin-left: 33%;
}

.cvSelect ~ hr {
  margin-left: 66%;
}

.slidingHR {
  height: 0.25rem;
  width: 33%;
  margin: 0;
  background: #000;
  border: none;
  transition: 0.3s ease-in-out;
}
