.homePage {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.homeIntro {
  padding-top: 5%;
  padding-left: 10%;
  font-size: 5em;
}

.homeText {
  padding-left: 10%;
  font-size: 3em;
}

.homeEnding {
  padding-left: 10%;
  font-size: 2em;
}