.homePage {
  background-color: #eee;
  height: 95%;
}

.homeIntro {
  padding-top: 0.5em;
  padding-left: 2em;
  font-size: 5em;
}

.homeAmbition {
  text-align: center;
  margin-left: 40px;
  font-size: 3em;
}

.homeClosing {
  text-align: center;
}
