* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .slideshowContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    justify-content: center;
    object-fit: contain;
  }

  .largeImage {
    object-fit: contain;
  }

  .slideContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
    justify-content: center;
    height: 20%;    
  }
  
  /* Six columns side by side */
  /*TODO: update widths dynamically for number of images: flex? */
  .column {
    //float: left;
    max-width: 20%;
    display: flex;
    align-content: space-evenly;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.5;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }